[submodule "frontend"]
	path = frontend
	url = https://github.com/MarcTsobgny2321/Nodo-Go-Fullstactk-Openclassrooms-projet.git
[submodule "backend"]
	path = backend
	url = https://github.com/MarcTsobgny2321/Nodo-Go-Fullstactk-Openclassrooms-projet.git
